:root {
  /* colors */
  --color-1: #314A80;
  --color-2-highlight: #3381f0;
  --bg-color: white;
  
  /* spacing */
  --spacing-1: 8px;
  --spacing-2: 4px;
  
  /* font sizes */
  --font-title: 18px;
  --font-txt: 14px;
  
  /* layout */
  --margin-1: 24px;
}

.body {
  color: var(--color-1);
  font-family: Atlas Grotesk, Arial, sans-serif;
  font-weight: 400;
  font-size: var(--font-txt);
  background-color: var(--white);
  /* object-position: 100% 0%; */
}

/* texts */

.txt-title {
  /* color: black; */
  font-size: var(--font-title);
  font-weight: 700;
}

.txt-title:hover {
  color: black;
  /* background-color: #fff; */
}

.txt-body {
  max-width: 36ch;
  min-width: 22ch;
  /* margin-bottom: 0; */
  overflow: scroll;
}

.txt-link {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  color: var(--314a80);
  text-decoration: underline;
  display: block;
}

.txt-arrow {
  margin-top: -5px;
  font-family: Atlas Grotesk, sans-serif;
  font-size: 22px;
  text-decoration: none;
}

.txt-drop {
  color: var(--color-1);
  padding: 4px;
}







/* cards */

.header-container {
  z-index: 100;
  position: fixed;
  top: 48px;
  left: 48px;
  right: 48px;
  height: 224px;
  background-color: none;
  display: grid;
  gap: 24px;
  /* grid-column-gap: 16px;
  grid-row-gap: 16px; */
  grid-template-columns: 224px 224px;
  place-content: start;
  /* width: auto; */
}

.card-container {
  width: var(--224px);
  height: var(--224px);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, .68);
  padding: 12px;
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.info-wrapper {
  font-weight: 400;
}

.link-wrapper {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  max-width: 100%;
  color: var(--314a80);
  display: inline-block
}


/* dropdown */

.dropdown-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 900;
  margin-bottom: 12px;
  /* position: relative; */
}

.dropdown-selected {
  gap: 4px;
  flex-flow: row;
  display: flex;
  user-select: none;
  cursor: pointer;
  padding-right: 40px;
}

.dropdown-navigation {
  gap: 2px;
  background-color: var(--white);
  color: var(--314a80);
  border-radius: 12px;
  flex-flow: column;
  width: 224px;
  margin-left: -16px;
  padding-top: 6px;
  padding-bottom: 16px;
  padding-left: 12px;
  display: none;
  position: absolute;
  background: red;
  min-width: 100%;
}

.dropdown-navigation:hover {
  display: block;
  color: red;
}

/* .dropdown-navigation:open {
  display: block;
} */




.dropdown-link {
  color: var(--314a80);
  text-align: left;
  flex: none;
  margin-bottom: 6px;
  padding: 0 0 0 24px;
  display: block;
  position: relative;
  text-decoration: none;
  color: black;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.dropdown-link:focus {
  outline: 1;
}



.w-icon-dropdown-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-right: 20px;
  width: 1em;
  height: 1em;
}
.w-dropdown-link.w--current {
  color: #0082f3;
}
.w-dropdown-link:focus {
  outline: 0;
}



























.icon {
  color: var(--314a80);
  display: block;
}









.line {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 1px;
  background-color: var(--color-1);
}






















/* webflow-generated classes */
/* dialogue with js */


.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}





.ga-sub-title {
  max-width: 36ch;
  margin-bottom: 0;
  font-weight: 700;
}




.ga-slides-container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: var(--black);
  border-radius: 12px;
  grid-template-rows: repeat(auto-fit, minmax(1px, 100%));
  grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
  grid-template-areas: ".";
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: stretch stretch;
  width: auto;
  height: auto;
  margin-bottom: 24px;
  font-family: Atlas Grotesk, Arial, sans-serif;
  display: block;
  position: fixed;
  inset: 24px 24px 0;
  overflow: hidden;
}


.ga-slide-img-bg-wrapper {
  z-index: 10;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: var(--black);
  mix-blend-mode: multiply;
  grid-template-rows: minmax(40px, 100%);
  grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start stretch;
  width: 100%;
  height: 100%;
  min-height: 100px;
  max-height: 100%;
  display: grid;
  position: static;
  top: 0;
  overflow: hidden;
}


.ga-code-map {
  object-fit: fill;
  width: 100%;
  min-width: 400px;
  height: 100%;
  min-height: 800px;
  overflow: hidden;
}

.ga-bg {
  z-index: 5;
  color: var(--black);
  object-fit: contain;
  object-position: 0% 0%;
  width: 100%;
  height: 100%;
  min-height: 100px;
  max-height: 100%;
  display: none;
  position: static;
  top: 0;
}

.checkbox-label {
  font-family: Atlas Grotesk, Arial, sans-serif;
  font-weight: 400;
}




.ga-legend-wr {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  padding-left: 20px;
  display: flex;
}

.ga-legend-icon-wr {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 20px;
  display: flex;
}

.ga-legend-icon {
  color: #314a80;
  background-color: #e2bff3;
  border-radius: 8px;
  width: 16px;
  height: 16px;
}

.ga-legend-icon._1 {
  color: #f5bfe1;
  background-color: #f5bfe1;
}

.ga-legend-icon._3 {
  background-color: #bfcff3;
}

.ga-legend-icon._4 {
  background-color: #84b5f2;
}

.ga-legend-icon._5 {
  background-color: #3381f0;
}

.ga-legend-icon._6 {
  background-color: #3267a9;
}

.ga-legend-icon._7 {
  background-color: #314a80;
}

.ga-legend-txt-wr {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  display: flex;
}

.ga-legend-text {
  max-width: 36ch;
  margin-bottom: 0;
  font-weight: 400;
  overflow: scroll;
}



.form-block {
  margin-bottom: 0;
}

.checkbox {
  margin-left: 4px;
  margin-right: 8px;
}

@media screen and (min-width: 1280px) {
  
  .ga-fix-container {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    max-width: 1600px;
  }

  .ga-sub-title {
    min-width: 23ch;
  }

  .ga-sub-title.info {
    min-width: 22ch;
  }

  .ga-slides-container {
    max-width: none;
  }

  .ga-slides-wrapper.left {
    grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
  }

  .ga-slides-wrapper.right {
    grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
  }

  .ga-slide.right {
    grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) 1fr;
  }

  .ga-slide._1, .ga-slide._2 {
    grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
  }

  .ga-slide-line-wrapper {
    z-index: 100;
  }

  .ga-slide-img-bg-wrapper {
    grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    padding-bottom: 0;
  }

  .ga-legend-text.info {
    min-width: 22ch;
  }
}

@media screen and (max-width: 991px) {
  .pro-slide, .am-slide, .am-graphs-wrapper, .ga-slide {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

  .ga-fix-container {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-rows: 100%;
    grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    grid-auto-rows: 1fr;
    height: 128px;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    position: static;
    right: 24px;
  }

  .ga-bg-mobile {
    z-index: 20;
    opacity: 1;
    background-color: #fff;
    width: auto;
    height: 76px;
    padding-bottom: 0;
    padding-right: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 24px;
    right: 24px;
  }

  .ga-bg-mobile._2 {
    z-index: 10;
    opacity: 1;
    height: 64px;
    top: 76px;
  }


  .ga-sub-title.info {
    border-top-width: 0;
    margin-left: 0;
  }

  .ga-legend-text.info {
    border-top-width: 0;
    margin-left: 0;
  }


#w-node-ac32aa6b-e6d3-d6dd-c12d-0b3a33fe1390-a7884dd7 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-ac32aa6b-e6d3-d6dd-c12d-0b3a33fe1391-a7884dd7 {
  grid-area: 1 / 1 / 2 / 6;
  place-self: start;
}

#w-node-_0428acf5-8ac2-da0d-f4e0-d944ab7f0d43-a7884dd7 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-ac32aa6b-e6d3-d6dd-c12d-0b3a33fe1396-a7884dd7 {
  grid-area: 1 / 2 / 2 / 3;
  place-self: start;
}

#w-node-ebec2112-c6bd-5f10-cf4d-ee8a040f2c18-a7884dd7 {
  grid-area: 1 / 1 / 2 / 19;
  place-self: stretch stretch;
}

#w-node-ebec2112-c6bd-5f10-cf4d-ee8a040f2c1c-a7884dd7 {
  grid-area: 1 / 1 / 2 / 19;
  place-self: start stretch;
}

#w-node-_8a809f15-5417-f119-bf02-5a8a48cf2c96-a7884dd7 {
  grid-area: 1 / 1 / 2 / 19;
}


@media screen and (min-width: 1280px) {
  
  #legend-index {
    grid-column-start: 7;
  }

  #w-node-ebec2112-c6bd-5f10-cf4d-ee8a040f2c18-a7884dd7 {
    grid-column: 5 / 19;
  }

}

@media screen and (max-width: 991px) {
  #w-node-_962dd644-f4fb-0e6a-1fe9-c6facfe7e52d-5180e7ae {
    grid-column-end: 11;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_773c8e8e-b86f-6b45-0833-320fd4ee2055-5180e7ae, #w-node-_773c8e8e-b86f-6b45-0833-320fd4ee2056-5180e7ae {
    grid-area: 1 / 1 / 3 / 13;
  }

  #w-node-_773c8e8e-b86f-6b45-0833-320fd4ee2057-5180e7ae {
    grid-area: 1 / 1 / 2 / 7;
  }

  #w-node-_773c8e8e-b86f-6b45-0833-320fd4ee2058-5180e7ae {
    grid-column-end: 7;
  }

  #w-node-_973f54c0-fa18-16b2-e73d-56433d9d3c04-5180e7ae, #w-node-dde54135-a879-8856-6ff3-a4a464901469-5180e7ae, #w-node-_25c5c38a-11fe-697f-e5ad-106112c70707-5180e7ae {
    grid-column-end: 8;
  }

  #w-node-_962dd644-f4fb-0e6a-1fe9-c6facfe7e52d-5180e7ae {
    grid-column-end: 9;
  }

  #w-node-ac32aa6b-e6d3-d6dd-c12d-0b3a33fe1390-a7884dd7 {
    grid-area: 1 / 1 / 2 / 7;
  }

  #w-node-ac32aa6b-e6d3-d6dd-c12d-0b3a33fe1391-a7884dd7 {
    grid-column-end: 7;
  }

  #w-node-_0428acf5-8ac2-da0d-f4e0-d944ab7f0d43-a7884dd7 {
    grid-area: 1 / 1 / 2 / 7;
  }

  #w-node-ac32aa6b-e6d3-d6dd-c12d-0b3a33fe1396-a7884dd7 {
    grid-column-end: 8;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_973f54c0-fa18-16b2-e73d-56433d9d3c04-5180e7ae, #w-node-dde54135-a879-8856-6ff3-a4a464901469-5180e7ae, #w-node-_25c5c38a-11fe-697f-e5ad-106112c70707-5180e7ae {
    grid-column-end: 7;
  }

  #w-node-_962dd644-f4fb-0e6a-1fe9-c6facfe7e52d-5180e7ae {
    grid-column-end: 10;
  }

  #w-node-ac32aa6b-e6d3-d6dd-c12d-0b3a33fe1396-a7884dd7 {
    grid-column-end: 7;
  }
}

