:root {
  /* colors */
  --color-1: #314A80;
  --color-2: #3381f0;
  --bg-color: white;
  
  /* spacings */
  --spacing-0: 48px;
  --spacing-1: 24px;
  --spacing-2: 12px;
  --spacing-3: 8px;
  --spacing-4: 4px;
  
  /* font sizes */
  --font-title: 14px;
  --font-txt: 14px;
}

.body {
  margin: 0;
  padding: 0;
  color: var(--color-1);
  font-family: Atlas Grotesk, Arial, sans-serif;
  font-weight: 400;
  font-size: var(--font-txt);
  line-height: 20px;
  background-color: var(--white);
}

/* texts */

.txt-title {
  font-size: var(--font-title);
  font-weight: 700;
}

/* .txt-title:hover {
  color: black;
} */

.txt-body {
  max-width: 36ch;
  min-width: 22ch;
  overflow: scroll;
}

.txt-link {
  gap: 6px;
  color: var(--color-1);
  /* text-decoration: underline; */
  display: block;
}

.txt-link:hover {
  color: var(--color-2);
  text-decoration: underline;
  /* font-weight: 700; */
}

.txt-arrow {
  font-family: Fakt Mono, sans-serif;
  font-size: 22px;
  font-weight: 200;
  line-height: 1;
  text-decoration: none;
}

.txt-arrow:hover {
  color: var(--color-2);
  font-weight: 700;
  text-decoration: none;
}

.txt-menu {
  color: var(--color-1);
  padding: 4px;
}

.txt-legend {
  max-width: 36ch;
  margin-bottom: 0;
  font-weight: 400;
  /* overflow: scroll; */
}


/* sections */

.content-container {
  z-index: 99;
  position: fixed;
  top: var(--spacing-0);
  left: var(--spacing-0);
  /* right: var(--spacing-0); */
  height: auto;
  width: auto;
  background-color: none;
  display: grid;
  gap: 24px;
  grid-template-columns: 240px 240px;
  place-content: start;
}

.map-container {
  z-index: 1;
  position: fixed;
  inset: var(--spacing-1);
  border-radius: var(--spacing-2);
  height: auto;
  width: auto;
  display: block;
  background: lightsteelblue;
}


/* cards */

.card-container {
  z-index: 100;
  position: static;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, .75);
  padding: var(--spacing-1);
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.wrapper {
  display: block;
  position: relative;
  text-align: left;
  margin: 0;
}

.line {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 1px;
  background-color: var(--color-1);
}

/* info */

.info-wrapper {
  font-weight: 400;
}

.link-wrapper {
  display: flex;
  align-items: bottom;
  gap: var(--spacing-4);
  max-width: 100%;
  color: var(--color-1);
  text-decoration: none;
}


/* dropdown */

.dropdown-selected {
  display: flex;
  width: 100%;
  border: none;
  background: none;
  flex-flow: row;
  text-align: bottom;
  gap: var(--spacing-3);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  user-select: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  z-index: 1000;
  position: absolute;
  top: 100%;
  margin-top: var(--spacing-3);
  margin-left: 0;
  left: calc(-1 * var(--spacing-1));;
  padding-bottom: var(--spacing-3);
  padding-top: var(--spacing-2);
  width: 240px;
  /* gap: 2px; */
  border-radius: 12px;
  flex-flow: column;
  min-width: 100%;
  background: white;
  
  /* hidden state */
  display: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.open {
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-link {
  display: block;
  color: var(--314a80);
  text-align: left;
  flex: none;
  padding: 0 0 0 24px;
  position: relative;
  text-decoration: none;
  color: black;
  text-align: left;
  margin-left: var(--margin-2);
  margin-right: var(--margin-2);
  margin-bottom: 6px;
  white-space: nowrap;
}

.dropdown-link:hover {
  outline: 1;
  background: pink;
}


/* legend */

.legend-wrapper {
  display: flex;
  gap: 4px;
  padding-left: 20px;
}

.legend-icon-wrapper {
  gap: 4px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 20px;
}

.legend-icon {
  color: var(--color-1);
  background-color: lightgrey;
  border-radius: 8px;
  width: 16px;
  height: 16px;
}

.legend-icon._1 {
  background-color: #F5BFE1;
}
.legend-icon._2 {
  background-color: #E2BFF3;
}
.legend-icon._3 {
  background-color: #BFCFF3;
}
.legend-icon._4 {
  background-color: #84B5F2;
}
.legend-icon._5 {
  background-color: #3381F0;
}
.legend-icon._6 {
  background-color: #3267A9;
}
.legend-icon._7 {
  background-color: #314A80;
}


/* map */

.card-map-container {
  width: 100%; 
  height: 100%;
  border-radius: var(--spacing-2);
}


/* pop up */

.mapboxgl-popup.popup-override { 
  max-width: 240px; 
  font-family: Atlas Grotesk, Arial, sans-serif;
  font-size: 14px;
  border-radius: var(--spacing-2);
  pointer-events: none;
  background: rgba(255, 255, 255, .8)
}

/* .popup-override */
.mapboxgl-popup-content {
  padding: 16px;
  background: none;
}

.mapboxgl-popup-tip {
  display: none;
}

.popup-content{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.line.pop{
  margin-bottom: var(--spacing-3);
}